.footer {
    // .wrapper {
    //     padding:0 32px;
    // }
    .left{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        padding: 0 16px;
        
    }    

    .right{
        display: flex;
        padding: 0 16px;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;

    }    
    .ftr-img{
            width: 300px;
    }
}