nav {
    background: #F3F2EE;
    img.logo{
        width: 40px;
    }
    .nav-link {
        cursor: pointer;
        a{
            text-decoration: none;
            color: #212529;
        }
        a:hover{
            color: #ff0055 !important;
        }
        a.active {
            color: #ff0055;
        }
    }
}